@import "tailwindcss";

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/assets/fonts/static/PlusJakartaSans-Bold.ttf') format('truetype');
}

@theme {

	--font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-*: initial;
	--color-white: hsl(0, 0%, 100%);
	--color-lime: hsl(61, 70%, 52%);
	--color-red: hsl(4, 69%, 50%);
	--color-slate-lightest: hsl(202, 86%, 94%);
	--color-slate-lighter: hsl(203, 41%, 72%);
	--color-slate-neutral: hsl(200, 26%, 54%);
	--color-slate-dark: hsl(200, 24%, 40%);
	--color-slate-darker: hsl(202, 55%, 16%);
	--color-slate-darkest: rgb(14 36 49);

	--tracking-tiny: 0.008em;

	--lime-top: 0 -4px 0px 0px var(--color-lime);
}